<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.dao.UserGroup">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="creator" property="creator" />
        <result column="created_time" property="createdTime" />
        <result column="updator" property="updator" />
        <result column="updated_time" property="updatedTime" />
        <result column="email" property="email" />
        <result column="group_desc" property="groupDesc" />
    </resultMap>

</mapper>
